# Mariano Villanueva Aguilar 25/08/2024

# A03 Python

In [ ]:
1.Toma el archivo datos CT.xlsx

In [7]:
import pandas as pd
datos=pd.read_excel("datosCT.xlsx ")

In [9]:
datos.columns

Index(['Unnamed: 0', 'Ingreso', 'Gasto'], dtype='object')

In [11]:
datos["Utilidad"]=datos["Ingreso"]-datos["Gasto"]
datos

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

In [15]:
datos["Promedio"]=datos["Gasto"]/12
datos

    Unnamed: 0  Ingreso  Gasto  Utilidad    Promedio
0        Enero     1340   1880      -540  156.666667
1      Febrero     2590   3130      -540  260.833333
2        Marzo     3570   2140      1430  178.333333
3        Abril     4450   3370      1080  280.833333
4         Mayo     1330   2990     -1660  249.166667
5        Junio     1610   1970      -360  164.166667
6        Julio     1500   2230      -730  185.833333
7       Agosto     2270   1240      1030  103.333333
8   Septiembre     1910   1470       440  122.500000
9      Octubre     2120   2280      -160  190.000000
10   Noviembre     3950   1870      2080  155.833333
11   Diciembre     1380   3140     -1760  261.666667

In [57]:
Ingresostotales=sum(datos["Ingreso"])

In [63]:
print("Los ingresos totales son", Ingresostotales)

Los ingresos totales son 28020

In [ ]:
2. Crea las siguientes estructuras usando numpy:

In [37]:
import numpy as np
a=np.array([[1,2],
           [3,4]])
b=np.array([[2],
            [4]])

In [69]:
c=a@b

In [73]:
print("El resultado es ", c)

El resultado es  [[10]
 [22]]